[submodule "Http"]
	path = Http
	url = git@github.com:terrazza/component-http.git
[submodule "ReflectionClass"]
	path = ReflectionClass
	url = git@github.com:terrazza/reflectionclass.git
[submodule "Serializer"]
	path = Serializer
	url = git@github.com:terrazza/serializer.git
[submodule "Routing"]
	path = Routing
	url = git@github.com:terrazza/routing.git
