<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         colors="true"
         bootstrap=".plugin/autoload.php"
         defaultTestSuite="self"
         failOnRisky="true"
         failOnWarning="true">
  <php>
    <ini name="error_reporting" value="-1"/>
  </php>
  <testsuites>
    <testsuite name="self">
      <directory>tests/</directory>
    </testsuite>
    <testsuite name="all">
      <directory>./Http/tests/</directory>
      <directory>./Serializer/tests/</directory>
      <directory>./ReflectionClass/tests/</directory>
    </testsuite>
    <testsuite name="Http">
      <directory>./Http/tests/</directory>
    </testsuite>
    <testsuite name="Serializer">
      <directory>./Serializer/tests/</directory>
    </testsuite>
    <testsuite name="ReflectionClass">
      <directory>./ReflectionClass/tests/</directory>
    </testsuite>
  </testsuites>
</phpunit>
